/* Theme : */
$primary: rgb(0, 78, 247);
$footer-background-color: rgb(88, 88, 88);
/* Tabs */
$tabs-border-bottom-color:hsl(0, 0%, 86%);
$tabs-link-color:hsl(0, 0%, 100%);
$tabs-link-hover-color:	hsl(226, 100%, 44%);
$tabs-link-active-border-bottom-color:hsl(0, 94%, 44%);
$tabs-link-active-color:hsl(0, 97%, 74%);

@import "bulma";

$color: #2c3e50;
$fontFamily: "Avenir", Helvetica, Arial, sans-serif;
$textCenter: center;
$marge: 1rem;
$tailleMax: 40em;

#app {
    font-family: $fontFamily;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: $textCenter;
    color: $color;
    background-color: rgb(238, 238, 238);
}

.actuContainer {
    display: flex;
    flex-direction: row;
    /*max-width: 80em;*/
    margin: 0 auto;
}
.cardPerso {
    /*min-height: 20em;*/
    /*width: 40em;*/
    margin-right: $marge; 
    margin-left: $marge;
    
}
.filActu {
   /* min-width: 30em;*/
    /*max-width: 25em;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-left: $marge;
    margin-right: $marge;
}
.pub{
    margin-left: $marge;
}
.element {
    &.is-loading {
        position: relative;
        pointer-events: none;
        opacity: 0.8;
        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 2.5em);
            left: calc(50% - 2.5em);
            width: 5em;
            height: 5em;
            border-width: 0.25em;
        }
    }
}
.cardLoad {
    height: 10em;
}

.card{
    margin-bottom: $marge;
}
.image {
max-height: 50%;
}
.formulaire {
    max-width: $tailleMax;
    margin: 0 auto;
}
.tabs {
    margin-bottom: 1em;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 100;
    background: linear-gradient(to bottom right, rgba(165, 73, 11, 0.8), rgba(120, 49, 3, 0.8));
    
}
.hero {
    background-image: url("./../../../static/IMGP4307.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.media-content {
    z-index: 5;
}
.creationList {
    display: flex;
    flex-flow: row wrap;
}
.cardPropos {
    text-align: left;
}
